body{
    background-color:#eceefc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h1{
    font-size:24px;
    text-align: center;

}

.form{
    margin: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

#Enter{
    border: 1px solid blueviolet;
    border-radius:6px;
}

button{
    color: black;
    background-color:blueviolet;
    padding:20px;

}

.peom{
     margin: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

footer{
    text-align: center;
}